* {
    box-sizing: border-box;  
}
body{
    background-color: #0D1520;

}
header{
    width: 100%;
}
#top {  
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    justify-content: space-between;
    opacity: 0px;
}

.hamburger-menu{
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger-menu .bar{
    width: 25px;
    height: 3px;
    background-color: #fff;
}

.navy{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 12px;
    opacity: 0px;
    color: #EEEE;
    text-transform: uppercase;

}

.nav-links,.btn {
    display: flex;
    width: auto;
    height: auto;
    gap: 60px;
    opacity: 0px;
    display: inline-block;

}

#properties,#Agent,#Blog{
    color: white;
    font-family:sans-serif ;
    border:none ;
    text-transform: uppercase;
}

.btn{
    /* width: 91px; */
    height: 44px;
    gap: 0px;
    opacity: 0px;
    border-color: #70B8FF;
    border-radius: 12px;
    color: aliceblue;
    text-transform: uppercase;
    font-family: 'Gill Sans';   
    font-size: 14px;
    font-weight: 600;
    line-height: 16.8px;
    text-align: left;

    
}


#login-page{
    width:100%;
    height:auto;
    padding: 50px, 20px; 
    gap: 0px;
    opacity: 0px;


}

.one{
    display: flex;
    align-items: center;
    height: auto;
    justify-content:space-between;
    padding: 20px;
    

}


.classic{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    
    
    
}
.luxury{
    height: auto;
    width: 100%;
    
}
.login{
    
    height: auto;
    gap: 36px;
    opacity: 0px;
    
}

h1{
    width: 567.69px;
    height: 144px;
    gap: 0px;
    opacity: 0px;
    font-family:Georgia;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #EEEE;

}

#up{
    width: 567.69px;
    height: 56px;
    gap: 0px;
    opacity: 0px;
    font-family: Georgia;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #B4B4B4;
}
.history{
    display: flex;
    
}

#loginup,#get-started{
    width: auto(226px);
    height: auto(44px);
    gap: 10px;
    opacity: 0px;

}


#loginup{
    width: auto(85px);
    height: 44px;
    padding: 0px 20px 0px 20px;
    gap: 0px;
    border-radius: 12px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    font-family: Georgia;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.8px;
    text-align: left;
    color: #EEEE;
    border-color:#70B8FF;
    text-transform: uppercase;

}


#get-started{
    width:auto(131px);
    text-transform: uppercase;
    height: 44px;
    padding: 0px 20px 0px 20px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    background-color: #205D9E;
    color: #EEEE;
}



#feature{
    display: flex;
    width: 100%;
    height:auto;
    /* padding: 50px, 20px; */
    gap: 0px;
    

}

.then{
    display: flex;
    overflow: hidden;
    height: auto;
    gap: 50px;
    opacity: 0px;
    color: #EEEE;

}


h2,.explanation-feature-1{
    
    height: auto;
    gap: 32px;
    opacity: 0px;
}

h2{
    width: 600px;
    height: 58px;
    gap: 0px;
    opacity: 0px;
    font-family: Georgia;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    letter-spacing: 0.005em;
    text-align: left;

}

p{
    gap: 0px;
    opacity: 0px;
    font-family: Georgia;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.005em;
    text-align: left;
    
}

h5{
    width: auto;
    height:auto;
    gap: 16px;
    opacity: 0px;

}

.house-one{
    overflow: hidden;
    display: flex;
    width: 100%;
   
    
}

.imagetwo{
    object-fit: cover;
    height: auto;
    width: 100%;
    padding: 0;
}



#services{
    display: flex;
    width: 100%;
    height:auto;
    padding: 50px, 20px;
    gap: 0px;
    
}

.service{
    display: flex;
    text-align: center;
    justify-content: center;
    height: auto ;
    padding: 50px;
    gap: 50px;
    opacity: 0px;
    color: #EEEE;
    flex-direction: column;

}



.services-head{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width:100%;
    height: auto;
    gap: 20px;
    opacity: 0px;
    
    
}

.our{
    width: 100%;
    height: 28px;
    gap: 0px;
    opacity: 0px;
    font-family:Georgia;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.005em;
    color: #0090FF;
    
}


.pour{
    height: 58px;
    width: 100%;
    gap: 0px;
    opacity: 0px;
    font-family: Georgia;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    letter-spacing: 0.005em;
    color: #EEEE; 
}

.service-grid{
    display: flex;
    width:100%;
    height:auto;
    gap: 20px;
    opacity: 0px;
   
    
}

.service-grid1{
    width: 100%;
    height: auto;
    padding:44px;
    opacity:0px;
    border-radius:16px;
    background-color: #111927;
    
}


.grid1{
    width: 100%;
    height:auto;
    gap: 20px;;
    opacity: 0px;
    Background-color: #111927;
    
}


.search-icon{
    height: 80px;
    padding: 20px;
    gap: 10px;
    border-radius:9999px;
    opacity: 0px;
    background-color: #0090ff;
    align-items: center;

}

.grin{
    background-color: #0090ff;
}

.new-home{
    justify-content: center;
    color: #EEEE;
    gap: 0px;
    opacity: 0px;
    font-family: Urbanist;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.005em;
    background-color:#111927 ;
    
        
}

.donec{
    color: #EEEE;
    gap: 0px;
    opacity: 0px;
    font-family:'Lucida Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    background-color:#111927 ;
}



#about{
    width: 100%;
    height: auto;
    padding: 50px,20px;

    
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    width: 100%;
    height: auto;
}


.for{
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 36px;
}

.who{
    width: 100%;
    height: auto;
    gap: 30px;
}

.are{
    text-align: left;
    width: 207px;
    height: 28px;
    gap: 0px;
    opacity: 0px;
    font-family: Urbanist;
    font-size: 10px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.005em;
    color: #0090FF;
}

.assisting{
    width: 500px;
    height: 120px;
    gap: 0px;
    opacity: 0px;
    font-family: Urbanist;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #EEEEEE;
}


.pen{
    width: 500px;
    height: 84px;
    gap: 0px;
    opacity: 0px;
    font-family: Urbanist;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #B4B4B4;  
}

.ward{
    height: auto;
    justify-content: left;
    width: 100%;
    gap: 20px;
    border-radius: 24px;
}
.ad{
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.Award-1{
    display: flex;
    
   
}

.old{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: flex-start;
    background-color: #C2E6FF; 
    padding:10px;
    border-radius: 24px;

}

.don{
    flex-direction: column;
    text-align: justify;
    gap: 6px;
}

.blue{
    width: 220px;
    height: 28px;
    gap: 0px;
    opacity: 0px;
    font-family: Urbanist;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.005em;
    margin: 0;
    text-align: left;
    color: #205D9E;
    /* background-color: #C2E6FF; */

}

.red{
    width: 290.17px;
    height: 48px;
    gap: 0px;
    opacity: 0px;
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #205D9E;
    /* background-color: #C2E6FF; */
}

.glass{
    width: 40px;
    height: 40px;
    gap: 0px;
    border: 3px 0px 0px 0px;
    opacity: 0px;
   
}


.gallery{
    width: 665.33px;
    height: 630.73px;
    gap: 0px;
    border-radius: 34.59px 0px 0px 0px;
    opacity: 0px;
    display: flex;
}

.angle{
     flex-direction: column;
}

.rent1{
    width: 322.86px;
    height: 576.54px;
    top: 54.19px;
    left: 614.67px;
    gap: 0px;
    border-radius: 34.59px 0px 0px 0px;
    opacity: 0px;
    
}

.rent2{
    margin-right: 40px;
    width: 270px;
    height: 322.86px;
    left: 960.6px;
    gap: 0px;
    border-radius: 34.59px 0px 0px 0px;
    opacity: 0px;
    
}

.rent3{
    margin-right: 40px;
    width: 270px;
    height: 207.55px;
    top: 345.92px;
    left: 960.6px;
    gap: 0px;
    border-radius: 34.59px 0px 0px 0px;
    opacity: 0px; 
}

#checkout{
    display: flex;
    width: 100%;
    height: auto;
    padding: 112px 0px 112px 0px;
    gap: 0px;
    opacity: 0px;
    
}


.power{
    flex-direction: column;
    width: 100%;
    height: auto;
    gap:80px;
    padding:22px;

}


.colon{
    display: flex;
    justify-content: space-between;
    position:relative;
    width: 100%;
    height: auto;

}

.arrow{
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 24px;
}

.light{
    
    gap: 0px;
    opacity: 0px;
    font-family: Urbanist;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #0090FF;
    
}

.car{
    width: 500px;
    height: 58px;
    gap: 0px;
    opacity: 0px;
    font-family: Urbanist;
    font-size:40px;
    font-weight: 700;
    line-height: 57.6px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #EEEE;
    
}

.boot{
    width: 500px;
    height: 56px;
    gap: 0px;
    opacity: 0px;
    font-family: Urbanist;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #B4B4B4;
    

}

.bow{
    display: flex;
    height:auto;
    width: 240px; ;
    gap: 12px;
}

#all,#rent{
    border-radius: 12px;
    width: 100%;
    height: 44px;
    padding: 0px 20px ;
    border-color:#70B8FF ;
    color: #EEEE;
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.8px;
    text-align: left;
}





#buy{
    border-radius: 12px;
    width: 100%;
    height: 44px;
    padding: 0px 20px;
    background-color: #205D9E;
    color: #EEEE;
    
}

.look{
    display: flex;
    gap: 34px;
    width: 100%;
    /* height: 496px; */
}


.house1{
    display: flex;
    height: auto;
    flex-direction: column;
    padding: 50px 20px;
    gap: 20px;
    
}

.jar{
    flex-direction: column;
    gap: 16px;
}

.op{
    gap: 0px;
    opacity: 0px;
    font-family: Urbanist;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.005em;
    text-align: left;
    color: #EEEE;
}

.haven{
    opacity: 0px;
    font-family: Urbanist;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #EEEE;
}

.ten{
    gap: 0px;
    opacity: 0px;
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #EEEE; 
}



.work{
    display: flex;
    width:100%;
    height:auto;
    gap: 24px;
    opacity: 0px;
}
.bedroom{
    gap: 8px;
    color: #EEEE;
}

.bathroom{
    gap: 8px;
    color: #EEEE;
}

footer{
    width: 100%;
    height: auto;
}

.links{
    width: 100%;
    height:auto;
    padding: 80px 0px 80px 0px;
    gap: 80px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

.upper{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    width: 100%;
    height: auto;
}

.key{
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 28px;
    opacity: 0px;
}

.address{
    gap: 0px;
    opacity: 0px;
    font-family: Noto Sans;
    font-size: 15.62px;
    font-weight: 400;
    line-height: 23.43px;
    text-align: left;
      color: #EEEEEE;    
}

.Quicklinks{
    gap: 24px;
    opacity: 0px;
     
}

.road{
    list-style-type: none;  
    gap:6px;
    padding: 0;
    opacity: 0px;
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #B4B4B4;  
}

h3{
    margin-right: 40px;
    gap: 0px;
    opacity: 0px;
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #EEEE;
}

.footer{
    width:100%;
    gap: 80px;
    opacity: 0px;
    background-color: #0D2847;
}

.fan{
    display: flex;
    width:100%;
    justify-content: space-between;
    background-color: #0D2847;
}

.six{
    gap: 0px;
    opacity: 0px;
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #EEEE;
    background-color: #0D2847;
}


.tops{
    display: flex;
    gap: 24px;
    opacity: 0px;
    background-color: #0D2847;

}


.good{
    width: 84px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Urbanist;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.005em;
    text-align: left;
    background-color: #0D2847;
    color: #C2E6FF;
        
}


@media(max-width: 768px){
   .navy{
    display: none;
   }
   .hamburger-menu{
    display: flex;
   }
   .one{
    display: flex;
    flex-direction:column-reverse;
   }
   .history{
    flex-direction: column;
    }
    .then{
        flex-direction: column-reverse;
    }
    .service{
        flex-direction: column;
        gap: 34px;

    }
    .service-grid{
        flex-direction: column;
    }
    .info{
        flex-direction: column;
    }
    .power{
        flex-direction: column;
    }
    .colon{
        flex-direction: column;
    }
    .look{
        flex-direction: column;
    }
    .upper{
        flex-direction: column;
    }
    .fan{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

   

}




